<section class="about-me" id="about-me">
  <div class="about-me__info">
    <div class="about-me__info-text">
      <div class="about-me__info-text-title">Sobre mí</div>
      <div class="about-me__info-text-paragraph">
        <span
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit
          amet leo feugiat, rhoncus nunc sed, luctus dui. Mauris lobortis
          convallis augue non aliquam. Curabitur auctor volutpat nisi id mattis.
          Ut euismod vel odio non accumsan. Integer mollis urna nisi, a
          tristique lacus aliquet et. Sed dolor tortor, dignissim non efficitur
          non, ornare non dolor. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.
        </span>
      </div>
    </div>
    <div class="about-me__info-action">
      <a class="about-me__info-action-button" href="" target="_blank"
        >SABER MÁS</a
      >
    </div>
  </div>
  <div class="about-me__img">
    <img src="images/about-me.jpg" alt="Imagen Sobre mí" />
  </div>
</section>
