.about-me {
  background: #0d1e2e;
  padding: 105px 0px 105px 150px;
  @media only screen and (max-width: 768px) {
    padding: 80px 15px;
  }
  &__intro {
    padding-right: 150px;
    margin-bottom: 70px;
    @media only screen and (max-width: 768px) {
      padding-right: 15px;
      margin-bottom: 25px;
      text-align: justify;
    }
    &-title {
      font-family: Bebas Neue;
      font-size: 50px;
      font-weight: 400;
      color: #ffffff;
      line-height: 35px;
      margin-bottom: 55px;
      @media only screen and (max-width: 768px) {
        font-size: 30px;
        line-height: 52px;
        margin-bottom: 45px;
      }
    }
    &-text {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 350;
      color: #ffffff;
      line-height: 30px;
      @media only screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  &__details {
    display: flex;
    gap: 60px;
    padding-right: 130px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }
    &-text {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 400;
      line-height: 35.3px;
      color: #ffffff;
      @media only screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 21px;
      }
      &--green {
        color: #d6ff62;
        padding-bottom: 70px;
        @media only screen and (max-width: 768px) {
          padding-bottom: 0px;
          }
      }
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border: none;
        background: #d6ff62;
        width: 216px;
        height: 46px;
        font-family: "Montserrat", sans-serif;
        color: #0d1e2e;
        font-size: 18px;
        text-decoration: none;
        font-weight: 700;
        line-height: 22px;
        border-radius: 10px;
        cursor: pointer;
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
    }
    &-image {
      height: 460px;
      @media only screen and (max-width: 768px) {
        height: 360px;
        width: 350px;
      }
    }
    &-action {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border: none;
      background: #d6ff62;
      width: 216px;
      height: 46px;
      font-family: "Montserrat", sans-serif;
      color: #0d1e2e;
      font-size: 18px;
      text-decoration: none;
      font-weight: 700;
      line-height: 22px;
      border-radius: 10px;
      cursor: pointer;
      @media only screen and (max-width: 768px) {
        display: flex;
      }
    }
  }
}
