<div class="about-me">
  <div class="about-me__intro">
    <div class="about-me__intro-title">Sobre mí</div>
    <div class="about-me__intro-text">
      ¡Hola! Soy Miguel Santillán, Profesor de Educación Física de la
      Universidad Nacional de Tucumán (UNT) y entrenador personal, con más de 8
      años de experiencia ayudando a personas a transformar su cuerpo y mejorar
      su calidad de vida.
    </div>
    <br />
    <div class="about-me__intro-text">
      Soy Diplomado en entrenamiento y nutrición para la estética corporal
      (ACSM) y actualmente estoy cursando Posgrado en suplementación y ayudas
      ergogénicas para la salud y el rendimiento deportivo (UNLP).
    </div>
  </div>
  <div class="about-me__details">
    <div class="about-me__details-text">
      <div class="about-me__details-text">
        Mi objetivo principal es promover la salud, mediante estrategias seguras
        y basadas en evidencia científica. Diseño programas adaptados a los
        objetivos, intereses y necesidades específicas de cada persona, para
        mejorar la condición física, lograr objetivos estéticos o alcanzar
        objetivos deportivos.
      </div>
      <br />
      <div class="about-me__details-text">
        Mi propuesta se trata de un programa integral, que contempla optimizar
        tus sesiones de entrenamientos de fuerza, brindarte estrategias
        nutricionales adecuadas y acompañarte en el proceso de alcanzar tus
        objetivos.
      </div>
      <br />
      <div class="about-me__details-text--green">
        ¡El comienzo siempre es hoy!
      </div>
      <a class="about-me__details-text-button">Saber más</a>
    </div>
    <img src="/images/about-me.jpeg" class="about-me__details-image" />
    <a class="about-me__details-action">Saber más</a>
  </div>
</div>
