<div class="nutrition">
  <div class="nutrition__intro">
    <div class="nutrition__intro-title">
      Entrenamiento físico-deportivo y estrategias nutricionales
    </div>
    <div class="nutrition__intro-text">
      La nutrición juega un papel fundamental en cómo tu cuerpo responde a los
      entrenamientos y en cómo se recupera. Una planificación exitosa, va más
      allá de las rutinas en el gimnasio. Por eso, te brindo asesoramiento
      nutricional personalizado para que puedas optimizar tus resultados.
    </div>
  </div>
  <div class="nutrition__details">
    <img class="nutrition__details-image" src="/images/nutrition.jpg" />
    <div class="nutrition__details-text">
      <h3 class="nutrition__details-text-title">Planificación nutricional</h3>
      <p class="nutrition__details-text-paragraph">
        Diseñada según tus objetivos (perder peso, ganar masa muscular, mejorar
        rendimiento deportivo, etc.), con recomendaciones prácticas y
        sostenibles.
      </p>
      <h3 class="nutrition__details-text-title">Orientación en suplementación</h3>
      <p class="nutrition__details-text-paragraph">
        Según tu caso, te guío para que puedas incorporar suplementos
        deportivos, de manera segura y efectiva en tu dieta y en tu rutina.
      </p>
      <h3 class="nutrition__details-text-title">Asesoría para deportistas</h3>
      <p class="nutrition__details-text-paragraph">
        Si practicas deporte de manera regular, puedo ayudarte con planes
        nutricionales específicos para mejorar tu rendimiento y recuperación.
      </p>
    </div>
  </div>
  <div class="nutrition__action">
    <div class="nutrition__action-title">¡empezá tu transformación hoy!</div>
    <div class="nutrition__action-text">
      Transforma tu cuerpo, mejora tu salud y alcanza tus objetivos con el apoyo
      que necesitas.
    </div>
    <a class="nutrition__action-button">Contactar</a>
  </div>
</div>
