.nutrition {
  background: #0d1e2e;
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  &__banner {
    position: relative;
    height: 520px;
    @media only screen and (max-width: 768px) {
      display: none;
    }
    &-gradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(#ffffff 0%, #000000 60%);
      opacity: 0.35;
      z-index: 1;
    }
    &-image {
      height: 100%;
      background-image: url("../../../../public/images/nutrition-banner.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 0;
    }
  }
  &__intro {
    padding: 65px 155px;
    text-align: left;
    @media only screen and (max-width: 1100px) {
      padding: 65px 100px;
    }
    @media only screen and (max-width: 768px) {
      padding: 55px 20px;
    }

    &-title {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      color: #f8fcff;
      padding-bottom: 25px;
      @media only screen and (max-width: 768px) {
        font-size: 36px;
        line-height: 47px;
        padding-bottom: 14px;
      }
    }
    &-text {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 35px;
      color: #f8fcff;
      @media only screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  &__details {
    display: flex;
    gap: 75px;
    padding-right: 125px;
    margin-bottom: 120px;
    @media only screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      padding: 0px 100px;
      margin-bottom: 90px;
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0px 15px;
      margin-bottom: 60px;
      gap: 60px;
    }
    &-image {
      height: 520px;
      width: 500px;
      object-fit: cover;
      @media only screen and (max-width: 1100px) {
        height: 480px;
      }
      @media only screen and (max-width: 768px) {
        height: 270px;
        max-width: 95%;
        object-fit: cover;
      }
    }
    &-text {
      font-family: "Roboto", sans-serif;

      &-title {
        color: #d6ff62;
        font-weight: 700;
        font-size: 22px;
        line-height: 39px;
        text-align: left;
        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 31px;
          padding-bottom: 1px;
        }
      }
      &-paragraph {
        color: #f8fcff;
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        text-align: left;
        margin-bottom: 40px;
        @media only screen and (max-width: 768px) {
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 45px;
        }
      }
    }
  }
  &__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    @media only screen and (max-width: 768px) {
      padding-bottom: 85px;
    }
    &-title {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
      color: #d6ff62;
      padding-bottom: 40px;
      @media only screen and (max-width: 768px) {
        font-size: 32px;
        line-height: 57px;
      }
    }
    &-text {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      line-height: 20px;
      color: #f8fcff;
      padding-bottom: 40px;
      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border: none;
      background: #d6ff62;
      width: 210px;
      height: 45px;
      font-family: "Roboto", sans-serif;
      color: #0d1e2e;
      font-size: 20px;
      text-decoration: none;
      font-weight: 700;
      line-height: 23px;
      border-radius: 10px;
      cursor: pointer;
      @media only screen and (max-width: 768px) {
        width: 140px;
        height: 35px;
        font-size: 14px;
        line-height: 15px;
      }
    }
  }
}
