<section class="hero">
    <div class="hero__image">
      <div class="hero__image-title">
        <h1 class="hero__image-title-content">TU MEJOR VERSIÓN EMPIEZA HOY.<br>ENTRENAMIENTOS PERSONALIZADOS<br> PARA RESULTADOS REALES.</h1>
      </div>
      <div class="hero__image-actions">
        <div class="hero__image-actions-button">
        <a class="hero__image-actions-button1">
          Conocer más
        </a>
        <a class="hero__image-actions-button2">
          <img class="hero__image-actions-button-icon" src="/icons/whatsapp.svg" alt="whatsapp icon">
          Contactar
        </a>
    </div>
      </div>
    </div>
  </section>