<div class="toolbar">
  <div class="toolbar__logo">
    <img
      class="toolbar__logo-image"
      src="logo/qp8rxi2jae4uinry2dv7.webp"
      alt="Logo icon"
    />
  </div>
  <div class="toolbar__links">
    <a class="toolbar__links-item">Link 1</a>
    <a class="toolbar__links-item">Link 2</a>
    <a class="toolbar__links-item">Link 3</a>
    <a class="toolbar__links-item">Link 4</a>
  </div>
  <div class="toolbar__menu">
    <img
      class="toolbar__menu-profile"
      src="icons/profile.svg"
      alt="Profile icon"
    />
    <img
      class="toolbar__menu-burguer"
      src="icons/menu.svg"
      alt="Profile icon"
    />
  </div>
</div>
