<div class="contact" id="contact">
  <img
    class="contact__image"
    src="images/contact.webp"
    alt="Texto alternativo para imagen contact"
  />
  <div class="contact__form">
    <div class="contact__form-intro">
      <div class="contact__form-intro-title">Contacto</div>
      <div class="contact__form-intro-text">
        ¿Listo para comenzar tu transformación o tienes alguna consulta? Estoy
        aquí para ayudarte a alcanzar tus objetivos y guiarte en cada paso del
        proceso. Completa el formulario a continuación o envíame un mensaje
        directo, y me pondré en contacto con vos. Juntos podemos diseñar el plan
        que más se adecue a vos. ¡No esperes más!
      </div>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="contact__form-input">
        <label for="name">Nombre</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="contactData.name"
          required
          placeholder=""
        />
      </div>

      <div class="contact__form-input">
        <label for="phone">Telefono</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          [(ngModel)]="contactData.phone"
          required
          placeholder=""
        />
      </div>

      <div class="contact__form-input">
        <label for="email">Mail</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="contactData.email"
          required
          placeholder=""
        />
      </div>

      <div class="contact__form-textarea">
        <label for="message">Mensaje</label>
        <textarea
          id="message"
          name="message"
          [(ngModel)]="contactData.message"
          required
          placeholder=""
        ></textarea>
      </div>

      <button type="submit" class="contact__form-button">Enviar mensaje</button>
    </form>
    <img
      class="contact__form-image"
      src="images/contact.webp"
      alt="Texto alternativo para imagen contact"
    />
  </div>
</div>
