<div class="plans" id="plans">
  <div class="plans__intro">
    <div class="plans__intro-title">Planes de entrenamiento</div>
    <div class="plans__intro-text">
      Cada uno de estos planes está diseñado para ofrecerte el máximo apoyo y
      que puedas dar lo mejor de vos. ¡Contáctame y juntos diseñamos el plan que
      más se adapte a tus necesidades!
    </div>
  </div>

  <div class="plans__grid">
    <div class="plans__grid-card" *ngFor="let item of items">
      <div class="plans__grid-card-text">
        <div class="plans__grid-card-text-title">{{ item.title }}</div>
        <div
          [innerHTML]="item.description"
          class="plans__grid-card-text-description"
        ></div>
      </div>
      <a class="plans__grid-card-button">Comenzar hoy</a>
    </div>
  </div>
</div>
