.toolbar {
  background: #0d1e2e;
  position: fixed;
  top: 91px;
  right: 0;
  width: 100vw;
  z-index: 15;
  &__content {
    width: 100vw;
    max-height: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.7s ease;

    &--active {
      max-height: 100vh;
      pointer-events: auto;
      @media only screen and (min-width: 901px) {
        display: none;
      }
    }

    &-menu {
      width: 100vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0px;
      margin: 0px;

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: Roboto;
        text-decoration: none;
        font-weight: 400;
        color: #ffffff;
        font-size: 15px;
        line-height: 29px;
        padding-bottom: 26px;

        &:hover {
          color: #d6ff62;
        }
      }

      &-link {
        margin: 0.5em 0;
        list-style-type: none;
        border-bottom: 1px solid #727272;
      }
    }
  }
}
