<div class="toolbar">
  <nav
    class="toolbar__content"
    [ngClass]="{ 'toolbar__content--active': toolbarStatus }"
  >
    <ul class="toolbar__content-menu">
      <li class="toolbar__content-menu-link">
        <a class="toolbar__content-menu-title" href="#about-me"> SOBRE MÍ </a>
      </li>

      <li class="toolbar__content-menu-link">
        <a class="toolbar__content-menu-title" href="#methodology">
          ENTRENAMIENTO
        </a>
      </li>

      <li class="toolbar__content-menu-link">
        <a class="toolbar__content-menu-title" href="#plans"> ASESORAMIENTO </a>
      </li>

      <li class="toolbar__content-menu-link">
        <a class="toolbar__content-menu-title" href="#contact"> CONTACTO </a>
      </li>

      <li class="toolbar__content-menu-link">
        <a class="toolbar__content-menu-title" href="#"> INGRESAR </a>
      </li>
    </ul>
  </nav>
</div>
